@model MovieStar.Web.Controllers.EasterEgg

@using(Html.BeginForm("FanService", "Movie"))
{
    <label>Fan</label>
    @Html.TextBoxFor(m => m.Fan.Name)

    <label>Clues</label>
    for(int i = 0; i < Model.Clues.Count(); i++)
    {
        @Html.HiddenFor(m => m.Clues[i].Id)
        @Html.TextBoxFor(m => m.Clues[i].Name)
    }
    <button type="submit">Save</button>
}