
@{
    ViewBag.Title = "Index";
    var action = Url.Action("Index", "Movie", new { id = string.Empty });
}

<h2>Index</h2>

@Html.ActionLink("Movie/Index", "Index", "Movie", new { }, new { })

<a href='@action'>Users</a>
