@{ 
    var webApiUrl = Url.Action();
}
<h2>Home/Index</h2>

<ul>
    <li>WebAPI - GET <a href="/api/movies/1">/api/movies/{id}</a> </li>
    <li>MVC (JSON result) - <a href="/movies/getmovie/1">/Movies/GetMovie/{id}</a></li>
</ul>